# Managed by Composer
/vendor/

# PHPUnit
/phpunit.xml

# Composer PHAR
/composer.phar
/composer.lock

# Ignore files created during tests
/tests/App/var/cache/
/tests/App/var/log/
/cov/

# Ignore Doxygen directory
/doxygen/
